* {
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: cursive;
}
:root {
  --font-size-base: 16px;
  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */

  --line-height-base: 1.6;

  --padding-small: 0.5rem; /* 8px */
  --padding-medium: 1rem; /* 16px */
  --padding-large: 1.5rem; /* 24px */

  --color-primary: #333;
  --color-secondary: #575757;
  --color-background: #f8f9fa;
  --color-text-light: white;
}

ul,
li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  border: 1px solid black;
  align-items: center;
  font-size: var(--font-size-small);
  background-color: #2a4ba3;
}
.logo {
  height: 80px;
  padding: 0;
  margin: 0;
}
.navItems ul {
  display: flex;
  gap: 20px;
}
.navItems li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color cubic-bezier(0.86, 0, 0.07, 1) s;
  color: #f8f9fa;
}

.navItems li:hover {
  background-color: #8487a6;
  border-radius: 9px;
  color: #2a4ba3;
}

.card {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  word-wrap: break-word;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Shadow effect */
  
  cursor: pointer;

}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05); /* Zoom effect */
}