.shimmer {
  background: linear-gradient(-45deg, #dedede 40%, #cdcccc 50%, #a7a6a6 60%);
  background-size: 200%;
  background-position-x: 100%;
  animation: shimmer 0.1s infinite reverse;
}
@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
